.button {
  &.button-large {
    font-size: 1.25 * map-get($button-sizes, large);
    font-weight: $global-weight-bold;
    padding: 0.625 * $global-padding 1.5 * $global-padding;
    text-transform: lowercase;
  }
}
