.flexible {
  padding-bottom: 3 * $global-padding;
  padding-top: 3 * $global-padding;

  &--columns {
    .main-grid {
      @include xy-grid;
      @extend .align-center;
    }

    h2 {
      @include xy-cell(12);
      @extend .h3;
      @extend .text-uppercase;
      margin-bottom: 1.5 * $global-padding;
      text-align: center;
    }

    &--container {
      @include xy-cell(12);
    }

    &--footer {
      @include xy-cell(12);
      margin-top: 3 * $global-padding;
      text-align: center;

      @include breakpoint(medium) {
        @include xy-cell(11);
      }

      @include breakpoint(large) {
        @include xy-cell(10);
      }

      h3 {
        margin-bottom: 1.5 * $global-padding;
        margin-top: 1.5 * $global-padding;
      }
    }

    &--single {
      @include xy-grid;
      @extend .align-center;
      @extend .align-middle;
      border-bottom: 1px solid $light-lighter-gray;

      &-content {
        @include xy-cell(12);
        font-size: 1.25 * $global-font-size;
        font-weight: $global-weight-medium;
        padding-bottom: 1.5 * $global-padding;
        padding-top: 1.5 * $global-padding;

        @include breakpoint(large) {
          @include xy-cell(8);
        }

        &--title {
          font-size: 3.5 * $global-font-size;
          font-weight: $global-weight-medium;
          letter-spacing: -2px;
          margin-bottom: 0;
        }
      }

      &-image {
        @include xy-cell(12);
        max-width: 20rem;
        padding: 1.5 * $global-padding;
        text-align: center;

        @include breakpoint(large) {
          @include xy-cell(4);
        }
      }

      &:nth-child(2n) {
        @include breakpoint(medium) {
          .flexible--columns--single-image {
            @extend .medium-order-2;
          }
        }
      }
    }
  }

  &--content {
    @include xy-grid;
    @include xy-cell(12);
    @extend .align-center;

    h2 {
      @include xy-cell(12);
      @extend .header;
      color: $primary-color;
    }

    h3 {
      @include xy-cell(12);
      @extend .subheader;
      color: $primary-color;
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
      margin: auto;
      max-width: 850px;
    }
  }
}
