.events--fwcat {
  padding: 0 0 2.5rem;

  .events-container {
    @include xy-grid;
    padding: 0 0.625rem 0.5rem;

    .title {
      @include xy-grid;
      @include xy-cell;
      @extend .align-stretch;
      @extend .header;
      margin-bottom: 1 * $global-padding;

      span {
        @include xy-cell;
        color: $primary-color;
        min-height: rem-calc(30);
        text-align: center;

        @include breakpoint(large) {
          @include xy-cell(6);
        }

        &.spacer {
          background: url("../images/orange-right-facing-arrows.svg") no-repeat
            center center;
          background-size: contain;
          margin-bottom: 0.5rem;

          &:last-of-type {
            background-image: url("../images/orange-left-facing-arrows.svg");
          }

          @include breakpoint(large) {
            @include xy-cell(3);
            background-image: url("../images/orange-right-facing-arrows.svg");

            &:last-of-type {
              background-image: url("../images/orange-left-facing-arrows.svg");
            }
          }
        }
      }
    }
    .single-event {
      padding: 0 0 0.25rem;
      width: 100%;

      &:after {
        border-bottom: 1px dotted $orange;
        content: "";
        display: block;
        width: 50%;
        margin: 1.25rem 0;
      }

      &:nth-of-type(3) {
        &:after {
          border-bottom: 0;
        }
      }

      h5 {
        font-weight: $global-weight-bold;
        line-height: 1.1;
        margin-bottom: 0.25rem;

        @include breakpoint(large) {
          margin-bottom: 0.5rem;
        }

        &.venue {
          font-weight: 400 !important;
        }

        &.date {
          color: $aqua-medium !important;
        }
      }
    }
  }

  .events-footer {
    .button {
      @extend .text-orange;
      background: transparent;
      padding: 0;
      font-size: 1.5em;

      &:hover {
        color: $orange-medium;
      }
    }
  }
}

.volunteering-fwcat {
  padding: 0 0 2.5rem;
}
