.flexible {
  &--books {
    @include xy-grid;
    @extend .align-center;

    h2 {
      @include xy-cell(10);
      @extend .header;
      color: $primary-color;
    }
    h3 {
      @include xy-cell(10);
      @extend .subheader;
      color: $primary-color;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
      @extend .align-stretch;
    }

    &--single {
      @include xy-cell(11);
      padding: 2rem 0;

      @include breakpoint(medium) {
        @include xy-cell(10);
      }

      @include breakpoint(large) {
        @include xy-cell(6);
      }

      @include breakpoint(xlarge) {
        @include xy-cell(4);
      }

      a {
        @extend .align-middle;
        background: $primary-color;
        color: $white;
        display: flex;
        height: 100%;
        margin-left: 3.5rem;
        padding: 2rem;
        position: relative;

        &:after,
        &:before {
          background: $white;
          border: 3px solid $aqua-medium;
          content: '';
          height: 100%;
          position: absolute;
          right: 1rem;
          top: 1rem;
          width: 100%;
          z-index: -1;
        }

        &:before {
          right: 2rem;
          top: 2rem;
        }

        span {
          display: flex;
          flex-direction: column;
          font-size: 1.65 * $global-font-size;
          font-weight: $global-weight-bold;
          line-height: 1.1;
          text-align: center;
          width: 100%;

          small {
            @extend .text-uppercase;
            display: block;
            font-size: 0.65 * $global-font-size;
            font-weight: $global-weight-normal;
          }
        }
      }
    }
  }
  &--brochures {
    @include xy-grid;
    @extend .align-center;

    &:after,
    &:before {
      background: transparent url('../images/teal-bg-square.png') no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 2rem;
      width: 100%;
    }
    &:after {
      background-position: center right;
      margin-top: 0.5rem;
    }
    &:before {
      background-position: center left;
      margin-bottom: 0.5rem;
    }

    h2 {
      @include xy-cell(10);
      @extend .header;
      color: $primary-color;
    }

    h3 {
      @include xy-cell(10);
      @extend .subheader;
      color: $primary-color;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-spaced;
      @extend .align-stretch;
    }

    &--single {
      @include xy-cell(10);
      @extend .align-middle;
      @extend .text-center;
      background: $aqua-medium;
      margin-bottom: 1.75 * $global-padding;
      margin-top: 1.75 * $global-padding;
      padding: 2.5 * $global-padding $global-padding;

      a {
        @extend .header-white;
      }

      @include breakpoint(medium) {
        @include xy-cell(5);
      }
    }
  }

  &--organizations {
    @include xy-grid;
    @extend .align-center;
    background: $red;
    position: relative;

    &:after,
    &:before {
      background: transparent no-repeat center center;
      background-size: contain;
      content: '';
      display: block;
      height: 60%;
      position: absolute;
      width: rem-calc(75);
    }
    &:after {
      background-image: url('../images/red-bg_down.png');
      left: 0;
      top: 0;
    }
    &:before {
      background-image: url('../images/red-bg_up.png');
      bottom: 0;
      right: 0;
    }

    @include breakpoint(medium) {
      &:after {
        left: 1rem;
        top: 1rem;
      }
      &:before {
        bottom: 1rem;
        right: 1rem;
      }
    }

    @include breakpoint(large) {
      &:after {
        left: 1.5rem;
        top: 1.5rem;
      }
      &:before {
        bottom: 1.5rem;
        right: 1.5rem;
      }
    }

    h2 {
      @include xy-cell(10);
      @extend .header-white;
    }

    h3 {
      @include xy-cell(10);
      @extend .subheader-white;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
    }

    &--single {
      @include xy-cell(11);
      @extend .text-center;

      a {
        @extend .subheader-white;
        border-bottom: 1px solid $white;
        display: inline-block;
        line-height: 1.1;
        margin-bottom: 1.5rem;
      }
    }
  }
  
  &--podcasts {
    @include xy-grid;
    @extend .align-center;
    background: $green url('../images/green-bg_sprinkle.png') no-repeat center center;
    background-size: cover;

    h2 {
      @include xy-cell(10);
      @extend .header-white;
      margin-bottom: 2rem;
    }

    &--container {
      @include xy-cell(12);
      @include xy-grid;
      @extend .align-center;
    }

    &--single {
     width: 100%;

      a {
        background: $white;
        color: $aqua;
        display: block;
        font-size: 1.5 * $global-font-size;
        font-weight: $global-weight-bold;
        margin-bottom: 1rem;
        padding: 1rem;
        text-align: center;
        width: 100%;
      }
    }
  }
}
