.flexible {
  &--students {
    @include xy-grid;
    @extend .align-center;
    padding-top: 0;
    background: $aqua-medium;
    background: rgba($aqua-medium, 0.25);

    &--container {
      @include xy-grid;
      @include xy-cell(12);
      @extend .align-center;
    }

    &--single {
      @include xy-cell(10);
      padding-bottom: 1.5rem;
      padding-top: 1rem;

      @include breakpoint(medium) {
        @include xy-cell(3);
      }

      @include breakpoint(large) {
        @include xy-cell(2);
      }

      > a {
        &:hover {
          .flexible--students--single-image {
            background-color: $light-gray;
            background-image: none !important;

            &--hover {
              display: block;
            }
          }
        }
      }

      &-content {
        @include xy-cell(12);

        h2 {
          line-height: 1.1;
          margin-bottom: 0.25rem;
        }
      }

      &-image {
        @include xy-cell(12);
        background: transparent no-repeat center center;
        background-size: cover;
        border-radius: 50%;
        margin: 0 auto 1rem;
        position: relative;
        max-width: 250px;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &--hover {
          @extend .text-uppercase;
          color: $primary-color;
          display: none;
          font-weight: $global-weight-bold;
          height: auto;
          left: 50%;
          line-height: 1.2;
          max-width: 60%;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translate(-50%, -50%);
          &:before {
            background: url("../images/email.svg") no-repeat center center;
            background-size: contain;
            content: "";
            display: inline-block;
            padding-bottom: 40px;
            width: 100%;
          }
        }
      }
    }

    &--title {
      @include xy-cell(12);
      @extend .header;
      @extend .text-center;
      @extend .text-uppercase;
      color: $primary-color;
      font-weight: $global-weight-bold;
      margin: 1em auto;

      &:after {
        background: url("../images/orange-right-facing-arrows.svg") no-repeat
          center center;
        background-size: contain;
        content: "";
        display: block;
        height: 20px;
      }
    }

    &--single-content {
      @extend .text-center;

      h2 {
        @extend .subheader;
        @extend .text-uppercase;
        color: $primary-color;
        font-size: 1rem;
        font-weight: $global-weight-bold;
      }

      h3 {
        @extend .subheader;
        color: $primary-color;
        font-size: 1rem;
        margin-bottom: 0.25rem;
      }

      &--email {
        @include breakpoint(medium) {
          display: none;
        }
      }
    }
  }
}
